* {
	position: absolute;
}

#upper {
	background-color: rgb(213, 103, 44);
	height: 247px;
	overflow: hidden;
	width: 350px;
	z-index: -2;
}

#sun {
	background-color: rgb(230, 193, 50);
	border-radius: 100%;
	height: 250px;
	left: 110px;
	position: absolute;
	top: 70px;
	width: 250px;
	z-index: -1;
}

#mount1l {
	border-left: solid transparent 60px;
	border-bottom: solid rgb(159, 154, 53) 110px;
	left: 245px;
	top: 137px;
}

#mount1r {
	border-right: solid transparent 60px;
	border-bottom: solid rgb(116, 91, 34) 110px;
	left: 305px;
	top: 137px;
}

#mount2l {
	border-left: solid transparent 80px;
	border-bottom: solid rgb(159, 154, 53) 150px;
	left: 155px;
	top: 117px;
}

#mount2r {
	border-right: solid transparent 80px;
	border-bottom: solid rgb(116, 91, 34) 150px;
	left: 235px;
	top: 117px;
}

#mount3l {
	border-left: solid transparent 60px;
	border-bottom: solid rgb(159, 154, 53) 110px;
	left: 95px;
	top: 137px;
}

#mount3r {
	border-right: solid transparent 60px;
	border-bottom: solid rgb(116, 91, 34) 110px;
	left: 155px;
	top: 137px;
	z-index: -1;
}

.tree-l div {
	border-left: solid transparent 10px;
	border-right: solid transparent 10px;
	border-bottom: solid rgb(46, 31, 9) 40px;
	top: 210px;
}

.tree-l :nth-child(1n) {
	left: 80px;
}

.tree-l :nth-child(2n) {
	left: 150px;
}

.tree-l :nth-child(3n) {
	left: 190px;
}

.tree-l :nth-child(4n) {
	left: 250px;
}

.tree-l :nth-child(5n) {
	left: 280px;
}

.tree-l :nth-child(6n) {
	left: 330px;
}

.tree-s div {
	border-left: solid transparent 7px;
	border-right: solid transparent 7px;
	border-bottom: solid rgb(46, 31, 9) 30px;
	top: 220px;
}

.tree-s :nth-child(1n) {
	left: 70px;
}

.tree-s :nth-child(2n) {
	left: 130px;
}

.tree-s :nth-child(3n) {
	left: 180px;
}

.cloud {
	background-color: rgb(249, 245, 218);
}

.cloud-1a {
	border-radius: 25px 25px 0 0;
	height: 10px;
	left: 30px;
	top: 90px;
	width: 25px;
}

.cloud-1b {
	border-radius: 50px 50px 0 0;
	height: 20px;
	left: 50px;
	top: 80px;
	width: 50px;
}

.cloud-2a {
	border-radius: 50px 50px 0 0;
	height: 20px;
	left: 95px;
	top: 25px;
	width: 50px;
}

.cloud-2b {
	border-radius: 25px 25px 0 0;
	height: 10px;
	left: 135px;
	top: 35px;
	width: 25px;
}

.cloud-3a {
	border-radius: 20px 20px 0 0;
	height: 10px;
	left: 110px;
	top: 115px;
	width: 20px;
}

.cloud-3b {
	border-radius: 40px 40px 0 0;
	height: 20px;
	left: 120px;
	top: 105px;
	width: 40px;
}

.cloud-3c {
	border-radius: 25px 25px 0 0;
	height: 10px;
	left: 150px;
	top: 115px;
	width: 25px;
}

.cloud-4a {
	border-radius: 20px 20px 0 0;
	height: 10px;
	left: 260px;
	top: 20px;
	width: 20px;
}

.cloud-4b {
	border-radius: 40px 40px 0 0;
	height: 20px;
	left: 270px;
	top: 10px;
	width: 40px;
}

.cloud-4c {
	border-radius: 25px 25px 0 0;
	height: 10px;
	left: 300px;
	top: 20px;
	width: 25px;
}

#lower {
	background-color: rgb(156, 151, 51);
	height: 105px;
	overflow: hidden;
	top: 247px;
	width: 350px;
}

#river-a {
	background-color: rgb(131, 191, 188);
	border-radius: 150px;
	height: 40px;
	left: 130px;
	top: 80px;
	width: 160px;
}

#river-b {
	background-color: rgb(131, 191, 188);
	border-radius: 150px;
	height: 35px;
	left: 150px;
	top: 55px;
	width: 160px;
}

#river-c {
	background-color: rgb(131, 191, 188);
	border-radius: 150px;
	height: 35px;
	left: 125px;
	top: 30px;
	width: 160px;
}

#river-d {
	background-color: rgb(131, 191, 188);
	border-radius: 150px;
	height: 35px;
	left: 170px;
	top: 10px;
	width: 160px;
}

#river-e {
	background-color: rgb(131, 191, 188);
	border-radius: 150px;
	height: 15px;
	left: 255px;
	width: 60px;
}

#mount-reflection {
	border-left: solid transparent 55px;
	border-right: solid transparent 55px;
	border-top: solid rgba(255, 255, 255, 0.16) 120px;
	left: 178px;
	top: 12px;
}

#tree-reflection-1 {
	border-left: solid transparent 5px;
	border-right: solid transparent 5px;
	border-top: solid rgba(0, 0, 0, 0.16) 20px;
	left: 182px;
	top: 10px;
}

#tree-reflection-2 {
	border-left: solid transparent 8px;
	border-right: solid transparent 8px;
	border-top: solid rgba(0, 0, 0, 0.16) 30px;
	left: 192px;
	top: 10px;
}

#tree-reflection-3 {
	border-left: solid transparent 8px;
	border-right: solid transparent 8px;
	border-top: solid rgba(0, 0, 0, 0.16) 30px;
	left: 252px;
	top: 10px;
}

#tree-reflection-4 {
	border-left: solid transparent 8px;
	border-right: solid transparent 8px;
	border-top: solid rgba(0, 0, 0, 0.16) 30px;
	left: 282px;
	top: 10px;
}


