* {
	position: absolute;
}

#upper {
	background-color: rgb(213, 103, 44);
	height: 247px;
	overflow: hidden;
	width: 350px;
	z-index: -2;
}

#sun {
	background-color: rgb(230, 193, 50);
	border-radius: 100%;
	height: 250px;
	left: 110px;
	position: absolute;
	top: 70px;
	width: 250px;
	z-index: -1;
}

#mount1l {
	border-left: solid transparent 60px;
	border-bottom: solid rgb(159, 154, 53) 110px;
	left: 245px;
	top: 137px;
}

#mount1r {
	border-right: solid transparent 60px;
	border-bottom: solid rgb(116, 91, 34) 110px;
	left: 305px;
	top: 137px;
}

#mount2l {
	border-left: solid transparent 80px;
	border-bottom: solid rgb(159, 154, 53) 150px;
	left: 155px;
	top: 117px;
}

#mount2r {
	border-right: solid transparent 80px;
	border-bottom: solid rgb(116, 91, 34) 150px;
	left: 235px;
	top: 117px;
}

#mount3l {
	border-left: solid transparent 60px;
	border-bottom: solid rgb(159, 154, 53) 110px;
	left: 95px;
	top: 137px;
}

#mount3r {
	border-right: solid transparent 60px;
	border-bottom: solid rgb(116, 91, 34) 110px;
	left: 155px;
	top: 137px;
	z-index: -1;
}

.tree-l div {
	border-left: solid transparent 10px;
	border-right: solid transparent 10px;
	border-bottom: solid rgb(46, 31, 9) 40px;
	top: 210px;
}

.tree-l :nth-child(1n) {
	left: 80px;
}

.tree-l :nth-child(2n) {
	left: 150px;
}

.tree-l :nth-child(3n) {
	left: 190px;
}

.tree-l :nth-child(4n) {
	left: 250px;
}

.tree-l :nth-child(5n) {
	left: 280px;
}

.tree-l :nth-child(6n) {
	left: 330px;
}

.tree-s div {
	border-left: solid transparent 7px;
	border-right: solid transparent 7px;
	border-bottom: solid rgb(46, 31, 9) 30px;
	top: 220px;
}

.tree-s :nth-child(1n) {
	left: 70px;
}

.tree-s :nth-child(2n) {
	left: 130px;
}

.tree-s :nth-child(3n) {
	left: 180px;
}

#lower {
	background-color: rgb(156, 151, 51);
	height: 105px;
	top: 247px;
	width: 350px;
}